*{
	margin: 0;
	padding: 0;
}
body{
	background:#130f40;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: a1 2s linear infinite;
}
.loading{
	width: 200px;
	height: 200px;
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
	border-top: 10px solid #f0932b;
}
.loading::before{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	box-sizing: border-box;
	top: -10px;
	left: 0;
}
.loading::before{
	border-top: 10px solid #eb4d4b;
	transform: rotate(120deg);
}
.loading::after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	box-sizing: border-box;
	top: -10px;
	left: 0;
}
.loading::after{
	border-top: 10px solid #6ab04c;
	transform: rotate(240deg);
}
.loading span{
	width: 200px;
	height: 200px;
	color: white;
	position: absolute;
	text-align: center;
	line-height: 200px;
	animation: a2 2s linear infinite;
}

@keyframes a1{
	to{
		transform: rotate(360deg);
	}
}

@keyframes a2{
	to{
		transform: rotate(-360deg);
	}
}